.rich-editor-root {
    background: $white;
    border: 1px solid $jaggedice;
    font-size: 0.875rem;
    padding: 1rem;
}

.rich-editor-editor {
    cursor: text;
    border-top: 1px solid $jaggedice;
    font-size: 1rem;
    margin-top: 0.5rem;

    .public-DraftEditorPlaceholder-root,
    .public-DraftEditor-content {
        margin: 0 -0.5rem -0.5rem;
        padding: 1rem;
    }

    .public-DraftEditor-content {
        min-height: 20rem;
    }

    .public-DraftEditorPlaceholder-root {
        display: none;
    }
}

.rich-editor-blockquote, blockquote {
    font-family: 'Hoefler Text', 'Georgia', serif;
    border-left: 5px solid $jaggedice;
    color: $doveGray;
    font-style: italic;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
}

.public-DraftStyleDefault-pre, pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 1rem;
    padding: 1rem;
}

.rich-editor-controls {
    font-size: 0.875rem;
    margin-bottom: 0.2rem;
    user-select: none;
}

.rich-editor-style-button {
    cursor: pointer;
    color: $dustyGray;
    margin-right: 1rem;
    padding: 2px 0;
    display: inline-block;
}

.rich-editor-active-button {
    color: $persimmon;
}
